#box-results {}

.result-cards {
    position: relative;
    width: 100%;
}

.result-title {
    background-color: #00E88F;
    margin-bottom: 1rem;
    border-radius: .8rem;
}

.result-title p {
    color: #333;
    font-family: AprovaSans, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    padding: .25rem;
}

.card-background {
    background-color: #00E88F;
    position: relative;
}

.card-profile {
    background-color: #f6f6f6;
    border-radius: .25rem;
    margin-bottom: 2.5rem;
    padding: .35rem;
    width: 92%;
    margin-left: 8%;
}

.card-profile-text {
    color: #333;
    font-family: AprovaSans, sans-serif;
    font-size: 1.6rem;
    text-align: center;
}